 * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.card-img-top{
    height: 450px;
    width: auto;
    border-radius: 0;
}
li #hovi:hover{
    color: white !important; 
}
